<header class="header">
    <div class="header__title">
      <h2 class="title">Estrumel</h2>
    </div>
    <div class="header__contact">
      <i class="fas fa-phone"></i><h2 class="telefono"><a href="tel:+34634549959">618919454</a></h2>
    </div>
    
  </header>