
<div class="pintCalc open">

    <div class="pintCalc__left">
        <h4>Tipo de pintura</h4>
        <div class="calc__input">
            <label for="plastica">Plástica</label>
            <input type="radio" id="plastica" name="tipo-pintura" value="plastica">
          </div>
          <div class="calc__input">
            <label for="temple">Temple</label>
            <input type="radio" id="temple" name="tipo-pintura" value="temple">
          </div>
          <div class="calc__input">
            <label for="esmalte">Esmalte</label>
            <input type="radio" id="esmalte" name="tipo-pintura" value="esmalte">
          </div>
    </div>
    <div class="pintCalc__right">
        <label for="metros2Pint">Superficie</label>
          <input type="number" id="metros2Pint" name="metros2Pint" min="20" max="1000">
          
          <button class="pintCalc__btn">Resultado</button>
    </div>

    
</div>

<div class="pint-result">
    <span class="pint-precio"></span>
    
</div>
<button class="pintCalc__restartBtn display-none"><i class="fas fa-sync-alt"></i></button>

