<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/utilityClasses.css" />
    <link rel="stylesheet" href="/css/homeStyles.css" />
    <title>Document</title>
  </head>
  <body>
 
    <nav id="nav" class="full-viewport">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#hero" name="hero" class="nav__link">Empresa</a>
          <a href="#hero"><i class="fas fa-home"></i></a>
        </li>

        <li class="nav__item">
          <a href="#habilidades-calculador" name="habilidades-calculador" class="nav__link">Caclculador de precio</a>
          <a href="#habilidades-calculador"><i class="fas fa-calculator"></i></a>
        </li>

        <li class="nav__item">
          <a href="#obras" name="obras" class="nav__link">Galería</a>
          <a href="#obras"><i class="fas fa-th"></i></a>
        </li>

        <li class="nav__item">
          <a href="#contacto" name="contacto" class="nav__link">Contacto</a>
          <a href="#contacto"><i class="fas fa-phone-square"></i></a>
        </li>
      </ul>
    </nav>



    <section id="hero" class="full-viewport">
        <div class="hero__bg-img"><img src="/css/images/obraBg3.png" alt=""></div>
        <div class="container">
            <div class="logo__title ">
                <img src="css/svg/haz.svg">
                  <h1 class="title">Strumel</h1>
                </div>
        </div>

    </section>


    <section id="habilidades-calculador" class="full-viewport"></section>
    <section id="obras" class="full-viewport"></section>
    <section id="contacto" class="full-viewport"></section>

    <script src="/js/homeScript.js"></script>
  </body>
</html>
