<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/homeStyles.css" />
    <link rel="stylesheet" href="/css/utilityClasses.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Strumel</h1>

    <nav id="nav" class="full-viewport">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#hero" class="nav-link">Empresa</a>
          <i class="fas fa-home"></i>
        </li>

        <li class="nav-item">
          <a href="#habilidades-calculador" class="nav-link">Caclculador de precio</a>
          <i class="fas fa-calculator"></i>
        </li>

        <li class="nav-item">
          <a href="#obras" class="nav-link">Galería</a>
          <i class="fas fa-th"></i>
        </li>

        <li class="nav-item">
          <a href="#contacto" class="nav-link">Contacto</a>
          <i class="fas fa-phone-square"></i>
        </li>
      </ul>
    </nav>

    <section id="hero"></section>
    <section id="habilidades-calculador"></section>
    <section id="obras"></section>
    <section id="contacto"></section>
  </body>
</html>
