

:root{
    --login-color:rgb(219, 0, 66);
    
}

body {
  height: 100vh;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  background-size:fill;
  background-blend-mode:darken;
  
}



.form-label {
  min-height: 0.0000001vw; /*Safari workAround */
  font-size: clamp(1.3em, 4.5vw, 1.6em);
}



/* %%% GRID EN UTILITY CLASSES %%% */

#submit {
  display: flex;
}

#submit form {
  max-width: 1200px;
  margin: 3.5rem auto;
  min-height: 0.0000001vw; /*Safari workAround */
  padding: 1.5rem clamp(1rem, 8vw, 2.5rem);
  border-radius: 10px;
  background-color: rgb(148, 175, 202);
}

#obras{
  padding-bottom: 6rem;
}

.obra__box:hover .obra__overlay {
  transform: translateY(-0%);
}

.obra__overlay--inner h2{
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;
}

.admin-subtitle {
  font-family: "Major Mono Display", monospace;
  color: orangered;
  min-height: 0.0000001vw; /*Safari workAround */
  font-size: clamp(1rem, 10vw, 2rem);
  position: absolute;
  right: 0;
  bottom: -16px;
}
h1.title--submit a {
  color: black;
}



.obra__image {
  width: 80vw;
  height: 80vw;
  margin: 0 auto;
  object-fit: cover;
}

.obra__container {
  margin-top: 3.5rem;
  padding-bottom: 4rem;
}

.btns-edit img{
  height: 35px;
  width: 35px;
}

.btns-edit {
  position: fixed;
  top: 10px;
  right: 10px;
}



.edit__overlay {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  left: 0;
  display: none;
  z-index: 2;
}
.edit__overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.edit__overlay--close {
  background: none;
  font-size: 1.75rem;
  mix-blend-mode: darken;
  position: absolute;
  right: 13px;
  top: 2px;
  color: rgb(85, 85, 85);
  border: 0;
}

.edit__overlay__inner {
  min-height: 0.0000001vw; /*Safari workAround */
  padding: 1.5rem clamp(1rem, 8vw, 2.5rem);
  font-size: clamp(.8rem, 4vw, 1.4rem);
  position: relative;
  border-radius: 10px;
  background-color: lightgray;
  width: 90vw;
}

.edit__overlay__inner input,
.edit__overlay__inner textarea{
  min-height: 0.0000001vw; /*Safari workAround */
  font-size: clamp(.8rem, 4vw, 1.4rem);
}

/* %%%%%%%%%%%%%%%%%%% LOGIN %%%%%%%%%%%%%%%%%%%%%%%%% */

.login__card{
    padding: 1.5rem;
    background-color: transparent;
    
}

.login__form {
  display: grid;
  grid-template-columns: 0.85fr;
  justify-content: center;
  grid-auto-rows: .8fr;
  gap: 1rem;
  margin-top: 2rem;
}

@media (max-width: 450px){
  .login__form{
    grid-template-columns: 1fr;
  }

  .btns-edit{
    left: 0;
    right: 0;
    bottom: 10px;
    top: inherit;
    display: flex;
    justify-content: center;
    gap: 10px;

  }
}

.login__input {
  width: 100%;
  height: 2em;
  border: none;
  border-bottom: 1px black solid;
  font-size: 1.35rem;
  background-color: transparent;
}

.login__span {
  position: relative;
  display: block;
  top: -2px;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--login-color);
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
}

.scaleX1 {
  transform: scaleX(1);
}

.btn--login {
  color: var(--login-color);
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: var(--login-color);
  position: relative;
  margin: 1em;
  display: inline-block;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
}

.btn--login:before,
.btn--login:after {
  content: "";
  display: block;
  position: absolute;
  border-color: var(--login-color);
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out;
}

.btn--login:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}

.btn--login:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

.btn--login:hover:before,
.btn--login:hover:after,
.btn--login:focus:before,
.btn--login:focus:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: var(--login-color);
}

.btn--login:hover,
.btn--login:focus {
  color:white;
  background-color: var(--login-color);
  border-color: var(--login-color);
}



@media (min-width: 1025px) {
  .admin-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .logo__title--submit {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
  }
 
  .title.title--submit {
    margin: 0;
  }

  #submit form {
    width: 50%;
  }

  .obra__image {
    min-height: 0.0000001vw; /*Safari workAround */
    width: clamp(400px, 30vw, 1000px);
    height: clamp(400px, 30vw, 1000px);
  }

  .obra__contenido {
    width: 40%;
    text-align: center;
  }

  .edit__overlay__inner {
    width: 70vw;
  }
}


