

body {
  width: calc(100vw - (100vw - 100%));
  overflow-x: hidden;
  font-family: var(--main-ff);
}
/* %%%%%%%%%%%%%%%%%%% NAV %%%%%%%%%%%%%%%%%%%%%%% */

#nav {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top:48%;
  bottom: 48%;
  right: 0;
  font-family: var(--main-ff);
}
.nav__list {
  transform-origin: center;
  font-size: 1.5rem;
  list-style-type: none;
  line-height: 4;
  background-color: rgba(3, 3, 3, 0.7);
  padding: 0 0.6em;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
}

.nav__item {
  position: relative;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.nav__item img{
  width: 26px;
  height: 26px;
  margin-top: 15px;
  transform: translateX(-3px) translateY(5px);
  position: relative;
  z-index: 3;
}
.nav__item .fas{
  position: relative;
  z-index: 3;
}


.nav__current {
  position: absolute;
  left: -15px;
  opacity: 0;
  transition: opacity 200ms ease-out 100ms;
  background-color: rgba(216, 216, 216, 0.137);
  width:70px;
  height:100%;
  cursor:pointer;
}



@media (min-width: 750px) {
  .nav__item:hover .nav__current,
  .nav__item:focus .nav__current {
    opacity: 1;
   
  }
}

.current-section {
  opacity: 1;
  z-index: 1;
}

/* NAV BURGER */

.nav__burger {
  position: relative;
  display: none;
}
.nav__btn {
  display: none;
}

.nav__burger,
.nav__burger::after,
.nav__burger::before {
  content: "";
  width: 1.5rem;
  height: 3px;
  background-color: white;
}

.nav__burger::after {
  position: absolute;
  top: -6px;
}

.nav__burger::before {
  position: absolute;
  bottom: -6px;
}



/* %%%%%%%%%%%%%%%%%%% HERO %%%%%%%%%%%%%%%%%%%%%%% */

#hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  
  padding-top: 4.5rem;
  background: rgb(8,79,255);
  background: linear-gradient(169deg, rgba(8,79,255,1) 12%, rgba(24,131,187,1) 47%, rgba(155,197,255,1) 100%);
}

#particles-js {
  position: absolute;
  inset: 0;
  top:0;left:0;bottom:0;right:0;
  background-color: transparent;
  z-index: 1;
}
.hero__bg-img {
  position: absolute;
  width: 2676px;
  height: 607px;
  z-index: 0;
  bottom: -10px;
  left: -400px;
  background-image: url(images/obraBg.webp);
  background-size: cover;
  
}

.logo__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
  z-index: 2;
}

.title {
  margin: 0;
  min-height: 0.0000001vw; /*Safari workAround */
  font-size: clamp(2.6rem, 16vw, 9rem);
  font-family: var(--title-ff);
}

.logo__title img {
  min-height: 0.0000001vw; /*Safari workAround */
  width: clamp(50px, 16vw, 200px);
  height: clamp(50px, 16vw, 200px);
}


.presentation {
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 3.7rem;
  font-family: var(--second-ff);
  font-weight: 500;
  
}

.presentation__title{
  color: rgb(12, 12, 12);
  font-weight: 600;
}

.presentation .wrap{
  font-size: .9em;
  font-weight: 500;
  color: rgb(250, 250, 250);
  cursor:default;
}

.presentation a{
  pointer-events: none;
}

.hero__btns{
  padding: 2rem 0;
  position: absolute;
  bottom: 25%;
  left:0; right: 0;
  z-index: 4;
  display: flex;
  justify-content:  space-around;
  align-items: flex-end;
  
}

.hero__btn{
  font-family: var(--second-ff);
  font-weight: 500;
}


.hero__btn--conocenos{
  border: none;
}
.conocenos-text{
  display:none;
}
.conocenos-text__content::before{
  content:"ATRÁS";
  font-size: .8em;
  font-family: var(--second-ff);
  text-shadow: none;
  letter-spacing: 2px;
  font-weight: 500;
  position: absolute;
  top:-40px;
  left:35%; right: 35%;
  color:rgba(255, 255, 255, 0.726);
  display:block;
  border-bottom: 1px solid currentColor;
}

.conocenos-text.active{
  background-color:rgba(15, 15, 15, 0.616);
  position: fixed;
  width:100%;
  display:block;
  top:0;left:0;bottom:0;right:0;
  display:flex;
  align-items: center;
  justify-content: center;
  z-index:4;
}
@supports (backdrop-filter: blur(5px)){
  .conocenos-text.active{
    backdrop-filter: blur(9px);
    background-color: transparent;
  }
}
.conocenos-text__content{
  min-height: 0.0000001vw; /*Safari workAround */
 font-size: clamp(1.3rem, 6vw, 2rem); 
 color:rgb(255, 255, 255);
 text-shadow: 0 2px 3px rgba(0, 0, 0, 0.9);
 line-height: 1.4;
 font-weight: 600;
 padding: .5em;
 text-align: center;
 z-index: 6;
 width: 80%;
 transform: scale(0);
 transition: transform 400ms ease-in-out, opacity 400ms;
 transform-origin:bottom;
}
.conocenos-text__content.active{
  transform: scale(1);
  opacity:1;
}
.conocenos-text.active .conocenos-text__content{
  cursor: pointer;
}

  
a.hero__btn--galeria {
    color: rgb(0, 0, 0);
    display: inline-block;
}



.hero__btn--conocenos:before{
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  
}

.hero__btn--conocenos::after{
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

.hero__btn--galeria::before {
  bottom: -6px ;
  top: inherit;
  left: -6px;
  border-width: 0 0 2px 2px;
  
}

.hero__btn--galeria:after {
  top: -6px;
  right: -6px;
  border-width: 2px 2px 0 0;
}

.scroll-arrows {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 35px;
  transition: transform 300ms ease-in, opacity 200ms 100ms ;
}
.scroll-arrows.disapear{
  transform: translateY(-80px);
  opacity: 0;
}

.scroll-arrows path {
  stroke: #5EA6DF;
  fill: transparent;
  stroke-width: 5px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}
@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.scroll-arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.scroll-arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.scroll-arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}


/* %%%%%%%%%%%%% HAB-CALC %%%%%%%%%%%%%% */
#habilidades-calculador {
  padding: 1rem 0 4rem 0;
  background: url(/css/images/cubes-texture.png);
  overflow: hidden;
}

.calculator-flex {
  display: flex;
  gap: 12rem;
}

.habilidades {
  min-height: 700px;
  font-family: var(--second-ff);

}

.habilidades > div {
  position: relative;
  top: -30px;
  min-height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
}


.slide-set {
  position: relative;
  width: 100%;
}

.next-hab-btn{
  position: absolute;
  height: auto;
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  right: -30px;
  bottom: 5px;
  color:rgb(10, 142, 250);
  z-index: 1;
  padding: 0 .5rem;
  cursor: pointer;
  transition: transform 200ms ease-in;
  -webkit-tap-highlight-color: transparent;
}
.next-hab-btn.active{
  transform: translateX(6px);
}

.hab-item {
  position:relative;
  z-index:1;
  display: flex;
  gap: 0.3em;
  border:none;
  background:none;
  align-items: center;
  width: min(400px, 65vw);
  position: absolute;
  top: 0;
  height: 50px;
  min-height: 0.0000001vw; /*Safari workAround */
  font-size: clamp(1rem, 10vw, 2.5rem);
  color: rgb(66, 66, 66);
  transform: translateX(-800px);
  transition: transform 400ms ease-in, opacity 200ms;
  opacity: 0;
  -webkit-tap-highlight-color: transparent;
  }


.hab-active{
  position:relative;
  transform-origin: right;
  transform: translateX(0);
  cursor: pointer;
  z-index: 2;
  opacity:1;
}

.hab-text{
  position: absolute;
  display: none;
  top: 3.7em;
  font-size: .45em;
  
}
.hab-text--pintura{
  cursor: default;
}


.hab-text-content{
  position:relative;
  color: rgb(255, 255, 255);
  text-align: center;
  opacity:0;
  border-radius: 10px;
  background: rgba(8,79,255,.9);
  background-blend-mode: multiply;
  padding: 1em .7em;
  transform:translateY(-150%);
  transition: transform 400ms cubic-bezier(.11,.7,.54,1.22), opacity 200ms;
}
.hab-text-content::after{
  content:"";
  display:block;
  height:20px;
  width:20px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid rgba(8,79,255,.9);
  position: absolute;
  top: -20px;
  left: 50%;
}

.hab-text.hab-text-open .hab-text-content{
  transform:translateY(0%);
  opacity: 1;
}

.hab-text-content a{
  color: rgb(255, 255, 255);
  text-decoration: underline;
  font-weight: 500;
}

.hab-title {
  white-space: nowrap;
  transition: transform 200ms ease-in-out;
  position:relative;
  z-index: 1;
}
.hab-active:hover .hab-title,
.hab-active:focus .hab-title{
  transform: scale(1.05);
}

.hab-item h3{
  font-weight: 500;
}

.hab-title h5 {
  font-size: 0.6em;
  font-weight: 400;
  margin-left: 12px;
}

.hab-item .fas {
  color: white;
}
.hab-item__fas-outer{
  font-size: .9em;
  background: rgba(8, 74, 255, 0.897);
  border-radius: 50%;
  text-align: center;
  height: 2em;
  width: 2em;
}

/* Calculadora pintura */

.pintCalc{
  display:flex;
  opacity: 0;
  transform: scale(.2);
  gap: 30px;
  transition: transform 200ms ease-in-out, opacity 100ms;
}
.pintCalc.open{
  transform:scale(1);
  opacity: 1;
}

.pintCalc__restartBtn{
  position: absolute;
  bottom: .7em;
  left: .7em;
  background: none;
  border: none;
  color: white;
  font-family: var(--second-ff);
} 
button.pintCalc__restartBtn .fas{
  background: none;
  font-size: 1.3rem;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}
button.pintCalc__restartBtn .fas:hover,
button.pintCalc__restartBtn .fas:active{
  transform: rotate(360deg);
}

button.pintCalc__infoBtn{
  position:absolute;
  top:.5em;
  right:.5em;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1rem;
  font-family: "Times New Roman", serif;
  font-weight: 800;
  color:white;
  border:2px solid white;
  border-radius: 50%;
  background: transparent;
}
.pint-result{
  transform: scale(.3);
  display:none;
  transition: transform 350ms ease-in-out;
}

.pint-result.open{
  transform:scale(1);
  position:relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
}
.pint-precio{
  font-size: 3em;
  font-weight: 500;
  padding: 1em 1.2em; 
  text-shadow: 4px 4px 4px rgba(39, 39, 39, 0.589);
}

.pint-precio.big-number{
  min-height: 0.0000001vw; /*Safari workAround */
  font-size: clamp(2em, 9vw, 3em);
}

.pint-result::before{
  content: "aprox.";
  position: absolute;
  color: white;
  opacity: .8;
  min-height: 0.0000001vw; /*Safari workAround */
  font-size: clamp(.7rem, 3vw, 1rem);
  bottom: 0;
  right: 5%;
 
}

.pintCalc .calc__input{
  border: none;
}

.pintCalc__left{
  border-right: 1px solid rgba(204, 204, 204, 0.76); 
  padding-right: 30px;
  white-space: nowrap;
}

.pintCalc__right{
  display:flex;
  flex-direction: column;
  gap: 17px;
   
}
.pintCalc__right label{
  font-weight: 600;
  text-align: left;
  transform: translateX(-10px);
  
}
.pintCalc__right input{
  width: 70%;
  cursor: pointer;
  border-radius: 5px;
  border:none;
  padding: .3rem;
  
}

.pintCalc__btn{
  width: fit-content;
  padding: .35em .5em;
  cursor:pointer;
  border: 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white ;
  background: none;
  color: white;
  font-weight: 600;
  font-size: 1em;
  font-family: var(--second-ff);
  margin-top: 3px;
  margin-left: -.7em;
  opacity: .6;
  transition: opacity 350ms;
}





@supports (accent-color: green){
  .pintCalc input{
    accent-color: rgb(82, 235, 255);
  }
}




/* %%% CALCULADORA %%% */

.calculadora {
  height:calc(auto + 80px);   
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  position: relative;
  transition: transform 150ms ease-in-out;
}
.calculadora.grow{
  transform: scale(1.07);
}



.calc__des{
  font-size: 1.3rem;
  color:rgb(255, 255, 255);
  font-weight: 600;
  padding: .6em;
  background-color: rgb(10, 142, 250);
  border-radius:6px;
  text-align: left;
  width: fit-content;
  width: -moz-fit-content;
  margin-bottom: .6em;
  box-shadow: 5px 7px 5px -1px rgba(0, 0, 0, 0.568);
  transition: box-shadow 150ms ease-in-out;
}
.calculadora.grow .calc__des{
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.568);
}
.calc__tab{
  font-size: 1.2rem;
  border-bottom: 1px solid grey;
  border-radius: 5px;
  overflow: hidden;
  display:none;
  min-width: 550px;
  background: url(/css/svg/calculadora-bg.svg);
  background-size: cover;
  box-shadow: 5px 7px 8px -1px rgba(0, 0, 0, 0.479);
  transform:translateX(100%);
  transition: transform 300ms cubic-bezier(.11,.7,.54,1.22), box-shadow 150ms ease-in-out;
}
.calculadora.grow .calc__tab{
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.479);
}
.calc__tab.tab--integral{
  font-size: 1rem;
}

.calc__input{
  font-family: var(--second-ff);
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: .7em;
  border: 1px solid rgba(163, 163, 163, 0.2);
  border-bottom: 0;
  
}

.calc__input > label{
  cursor: pointer;
}
.calc__input input[type="number"]{
  max-width: 60px;
}
.calculadora :is(input[type = "radio"], input[type = "checkbox"]){
  border:0;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}
.input-wrapper{
  display: flex;
  align-items: center;
  gap: 6px;
}
.number-input-btn{
  font-weight: 600;
  font-size: 1rem;
  width:16px;
  height: 16px;
  cursor: pointer;
  color:rgb(53, 53, 53);
  -webkit-tap-highlight-color: transparent;
}
.number-input-btn::selection{
  background: transparent;
  color: rgb(53, 53, 53);
}

@supports (accent-color: green){
  .calc__tab input{
    accent-color: rgb(5, 123, 219);
  }
}

.calc__btns{
  margin-top: 7px;
  display:flex;
  gap: 1em;
  justify-content: flex-end;
}
.calc__btns.final{
  gap: 2.5rem;
  
}

.calc__btns > button{
  font-size: 1rem;
  font-family: var(--second-ff);
  padding: 0 7px 5px 7px;
  cursor: pointer;
  background: none;
  border: 0;
  border-bottom: 1px solid grey;
  transition: transform 150ms ease-in-out;
  
}
@media (hover:hover){
.calc__btns > button:hover, .calc__btns a.calc__contactLink:hover{
  transform: scale(1.06);
}
}

.calc__btns .next-btn{
  font-weight: 600;
  
}
.calc__btns .next-btn.submit-btn, .calc__btns .calc__contactLink{
  font-family: var(--main-ff);
  font-weight: 600;
  padding: 7px;
  background: linear-gradient(rgb(43, 126, 194), rgb(71, 168, 233));
  border-radius: 6px;
  color: white;
  border: 0;
}

.calc__contactLink{
  transition: transform 150ms ease-in-out;
}

.calc__user-choices{
  padding-bottom: 1.5rem;
}

.calc__restart-btn,.tab--final{
  display: none;
}

.calc__price{
   font-size: 3rem;
   backdrop-filter: blur(1px);
   padding: 1.5rem;
   transform:scale(0);
   transition: transform 400ms ease-in-out;
}
.choices__list{
  margin: 0 auto;
  width: 80%;
  columns:2;
  column-gap:5rem;
  text-align: left;
  font-size: 1.2;
}
.choices__list li{
  opacity: .6;
  min-width: 140px;
  font-family: var(--second-ff);
}

.calc__btns .calc__restart-btn{
  padding: 0;
}





/* %%%%%%%%%%%%%%%%%%% GALERIA %%%%%%%%%%%%%%%%%%%%%% */
#obras {
  padding: 8rem 0;
  position: relative;
  background: rgb(8,79,255);
  background: linear-gradient(180deg, rgba(8,79,255,1) 12%, rgba(24,131,187,1) 47%, rgba(155,197,255,1) 100%);
}
#gallery {
  width: 100%;
  display: block;
  border-radius: 98px 4px 100px 4px;
  overflow: hidden;
  position: relative;
  box-shadow: 11px 11px 20px 10px rgba(0,0,0,0.29);
}
#gallery:before {
  display: block;
  content: "";
  padding-top: 50%;
}

.all-obras-link{
  width: 100%;
  display: flex;
  justify-content: center;
}
.all-obras-link a{
  display: inline-block;
  position: relative;
  color:rgb(156, 229, 252);
  min-height: 0.000001vh;
  font-size: clamp(1rem, 3vw, 1.4rem);
  padding: .5em;
  display:flex;
  justify-content: center;
}

.all-obras-link a:hover,
.all-obras-link a:focus{
  color:turquoise;
}

.all-obras-link a::after,
.all-obras-link a::before{
  content:"";
  border-style: solid;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  border-color: rgb(156, 229, 252);
  width: 8px;
  height: 8px;
  background: transparent;
  position: absolute;
  top: 0px;
}

.all-obras-link a::after{
  top: -6px;
}


.gallery {
  display: flex;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: var(--main-ff);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.gallery figure {
  margin: 0;
  padding: 0;
  width: 10%;
  height: 100%;
  position: relative;
  flex-basis: 10%;
  transition: 0.8s ease-in-out;
  filter: saturate(25%);
  z-index: 4;
  
}
.gallery figure:not(.on):hover {
  cursor: pointer;
}
.gallery figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery figure.on {
  flex-basis: 100%;
  transition: 0.8s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  filter: saturate(100%);
  box-shadow: -15px 0px 13px -7px #3b3b3b, 15px 0px 13px -7px #3b3b3b, 8px 2px 18px -3px rgba(0,0,0,0);
}

.gallery figure.on >div {
  min-height: 0.0000001vw; /*Safari workAround */
  font-size: clamp(1rem, 3.5vw, 3rem);
  position: absolute;
  pointer-events: none;
  max-width: 95%;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.9);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.089);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.568);
  backdrop-filter: blur(1px);
}

.gallery figure:not(.on) >div {
  display: none;
}
.gallery figure.on div h2 {
  font-size: 1em;
  width: 100%;
  padding-bottom: .8em;
  
}

.gallery figure.on div p {
  position: relative;
  font-size: 0.7em;
  display: inline-block;
  z-index: 1;
  width: auto;
  margin-bottom: 0;
  padding: .6em;
  text-shadow: none;
}

.gallery__descript {
  line-height: 1.5;
  display: inline-block;
}
.gallery__descript::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(8,79,255,.7) 12%, rgba(24,131,187,.7) 47%, rgba(155,197,255,.8) 100%);
}
@supports not (backdrop-filter: blur(4px)){
  .gallery__descript::before{
    background: linear-gradient(180deg, rgba(8, 78, 255, 0.9) 12%, rgba(24, 130, 187, 0.9) 47%, rgba(155, 197, 255, 0.9) 100%);
  }
  .gallery figure.on >div{
    background: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.733);
  }
}

.gallery__descript--grow::before {
  transition: height 250ms 900ms ease-in;
  backdrop-filter: blur(3.2px);
  height: calc(100% + 9px);
}
.gallery figure.on div button {
  color: #ffffff;
  pointer-events: auto;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 0 2px 3px rgba(0, 0, 0, 0.5);
  border: none;
  background:none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  position: relative;
  margin: 1em;
  display: inline-block;
  padding: 0.2em 0.6em;
  transition:all 400ms ease-in-out;
  text-align: center;
}
.gallery figure.on div button:before,
.gallery figure.on div button:after {
  content: "";
  display: block;
  position: absolute;
  border-color: #ffffff;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: width 400ms ease-in-out, height 400ms ease-in-out;
}

.gallery figure.on div button:before {
  top: -2px;
  left: -2px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}

.gallery figure.on div button:after {
  bottom: -2px;
  right: -2px;
  border-width: 0 2px 2px 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.116);
  transition: width 400ms ease-in-out, height 400ms ease-in-out, box-shadow 450ms ease-in;
}

.gallery figure.on div button:hover:before,
.gallery figure.on div button:hover:after,
.gallery figure.on div button:focus:before,
.gallery figure.on div button:focus:after {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}
.gallery figure.on div button:hover::after,
.gallery figure.on div button:focus::after{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.466);
} 

.gallery figure.on div button:hover,
.gallery figure.on div button:focus {
  color: white;
  background: rgba(24,131,187,.5) ;
  
}

.wave-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-svg svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 106px;
}

.wave-svg .shape-fill {
  fill: #ffffff;
}


/* %%%%%%%%%%%%%%%%% CONTACT %%%%%%%%%%%%%%%%%%%% */

#contacto{
 padding: 9rem 0;
 background-color: rgb(80, 80, 80);
 background-image: url("images/contact-img.webp");
 background-size: cover;
 background-blend-mode: multiply;
 position:relative;
 font-family: var(--second-ff);
}

.contact-waves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.contact-waves svg {
  position: relative;
  display: block;
  width: calc(170% + 1.3px);
  height: 63px;
}

.contact-waves .shape-fill {
  fill: rgba(155,197,255,1);
}
.contact__methods{
  padding: 3.3rem;
  border-radius: 10px;
  box-shadow: 11px 11px 20px 10px rgba(0,0,0,0.29);
  color: white;
  background:rgba(197, 208, 243, 0.12);
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}

.contact__item{
  position:relative;
  display: flex;
  align-items: center;
  width: fit-content;
  width: -moz-fit-content;
  gap: 8px;
  padding: 1rem 0;
  min-height: 0.0000001vw; /*Safari workAround */
  font-size: clamp(.7rem, 4vw, 1.8rem);
}
.contact__item .fa-envelope{
  margin-top: .45em;
}

.contact__item a{
  font-weight: 500;
}
.contact__item::after{
  content:"";
  height: 2px;
  border-radius: 20%;
  width:100% ;
  background: white;
  position: absolute;
  border-radius: 0;
  bottom:12px;
  left:0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 350ms ease-in-out;
  
}

.contact__item:hover.contact__item::after,
.contact__item:focus.contact__item::after{
  transform-origin: left;
  transform: scaleX(1);
}




/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% MEDIAQUERIES %%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media (hover: none) {
  
  .gallery figure.on div button::before{
    animation: galleryBtnAuto 5s infinite ease-in-out;
  }
  .gallery figure.on div button::after{
    animation: galleryBtnAutoBoxShadow 5s infinite ease-in-out;
  }

  /* .gallery figure.on div button {
    color: white;
    animation: galleryBgAuto 8s infinite ease-in-out;
    border-color: rgba(24,131,187,.5);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9), 0 2px 3px rgba(0, 0, 0, 0.7);
  } */

  
  .contact__item::after{
    transform-origin: inherit;
    animation: transitionLeftRight 7s infinite ease-in-out;
  }
  .contact__item:nth-child(2):after{
    animation-delay: 3.5s;
  }
}
@media (max-width: 350px){
 .hab-title{
   font-size: 1.7rem;
 }
 .habilidades div .slide-set .next-hab-btn{
   font-size: 1.5rem;
   right: 0;
   bottom: 11px;
   z-index: 2;
  }

  #gallery .gallery figure.on >div {
    font-size: 1.3rem;
    
  }
}
@media (max-width: 450px) {
  .container {
    width: 93%;
  }

  .hero__btns{
    flex-direction: column;
    align-items: center;
    bottom: 18%;
  }
  .conocenos-text__content{
    width: 90%;
  }

  .hero__btn--galeria{
    margin-top: 2.4rem;
  }

  .scroll-arrows {
    bottom: 8px;
  }

  /* %% HABILIDADES %% */
  .habilidades {
    min-height: 400px;
  }

  .habilidades > div {
    height: 400px;
  }
  .hab-item{
    min-width: 250px;
  }
  .hab-text{
    font-size: .6em;
  }
  .hab-text--pintura{
    font-size: .6em;
  }
  .pintCalc{
    gap:12px;
  }
  .hab-text--pintura h4, .pintCalc__right label{
    min-height: 0.0000001vw; /*Safari workAround */
    font-size: max(.9em, 3vw);
    transform: translateX(0);
  }
  
  .pintCalc__left{
    border-right: 1px solid rgba(204, 204, 204, 0.76); 
    padding-right: .5em;
  }
  .pintCalc__right{
    gap:15px;
  }
  .pintCalc__right input{
    padding:0;
    width: 60%;
  }
  .pintCalc__btn{
    font-size: .8rem;
    margin-top: 8px;
    margin-left: 0;
  }
   
  .pint-result::before{
    bottom: 1.7%;
    right:0;
  }
  .pint-precio{
    padding: 1em .6em;
  }
  .pint-precio.big-number{
    
    padding:1em;
  }
  button.pintCalc__restartBtn .fas {
    font-size: 1.2rem;
  }

 
  .hab-text-content::after{
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 15px solid rgba(8,79,255,.9);
  }
 
  .slide-set .next-hab-btn{
    font-size: 1.7rem;
    bottom: .6rem;
  }

  .calculator-flex > .calculadora{
    padding: .3rem 0 2rem 0;
  }

  .choices__list{
    columns: 1;
    column-gap: 0;
  }

  /* %%%% GALERIA %%% */
  #obras{
    padding: 5rem 0;
    overflow: hidden;
  }

  .wave-svg{
    width: 200%;
    height: 40%;
  }

  /* %%%% CONTACTOS %%%% */
  #contacto{
    overflow: hidden;
  }
  .contact__methods{
    padding: 1.5rem;
  }
  .contact-waves{
    width: 120%;
  }
  
}

@media (max-width: 750px) {
  .nav__item {
    display: none;
  }
 
  .nav__btn {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    transition: transform 150ms ease-in;
  }
  .nav__list.grow .nav__btn{
    margin-bottom: .7rem;
  }
   
  .nav__list:not(.grow) .nav__btn{
    animation: grow-shrink 3.5s linear infinite;
  }

  .nav__btn--spin {
    transform: rotate(180deg);
  }
  .nav__current {
   left: -11px;
  }

  .nav__list.shrink .nav__current::after{
   opacity: 0;
  }
  .nav__list {
    padding: 0.7rem;
  }
  .nav__list.grow{
    padding-bottom: 0;
  }
  .nav__burger {
    display: list-item;
  }

  .burger--close {
    visibility: hidden;
    transition: transform 200ms 400ms;
  }
  .burger--close.nav__burger::after,
  .burger--close.nav__burger::before {
    visibility: visible;
    transform: scale(0.8);
    -moz-transition: transform 200ms 400ms;
    transition: transform 200ms 400ms;
    
  }

  .burger--close.nav__burger::after {
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
  }
  .burger--close.nav__burger::before {
    transform: rotate(-45deg);
    top: 0;
    bottom: 0;
  }
  .nav__open {
    display: flex;
  }
 
  /* %% HERO %% */
  .presentation{
    min-height: 0.0000001vw; /*Safari workAround */
    font-size: clamp(1.5rem, 8vw, 3rem);
  }

  .hero__bg-img{
    bottom: -19px;
  }

}
 

@media (max-width: 1025px) {

   /* %% HERO %% */

   #hero{
     padding-top: 20vh;
   }
  

   .hero__bg-img{
    left: -960px;
    transform: scale(.75);
    transform-origin: bottom;
  
   }
  .calculator-flex {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .habilidades,
  .calculadora {
    width: 100% ;

  }
  .hab-item {
    min-height: 0.0000001vw; /*Safari workAround */
    font-size: clamp(1.7rem, 7vw, 2.7rem);
  }
  .habilidades {
    min-height: 450px;
    display: flex;
    justify-content: center;
    padding-bottom: 3.5rem;
  }

  .habilidades > div {
    height: 450px;
  }
  
 

  .slide-set .next-hab-btn{
    right: -30px;
  }

  .calculadora{
    padding: .3rem 0 3rem 0;
  }
  .calc__tab.tab--integral{
    font-size: 1.2rem;
  }


  /* %% GALLERY %% */
  .gallery {
    flex-direction: column;
    /* gap: 10px; */
  }
  
  .gallery > figure + figure{
    margin-top:10px;  /* gap workaround */
  }

  #gallery {
    height: 87vh;
    min-height: 540px;
    width: 100%;
  }

  .gallery figure {
    width: 100%;
    height: 10%;
  }

  .gallery figure.on >div {
    min-height: 0.0000001vw; /*Safari workAround */
    font-size: clamp(1.5rem, 5vw, 2.2rem);
    padding: 0.5em;
    width: 95%;
  }
  

}
@media (max-width: 1400px) {

  .habilidades{
    min-width: 480px;
  }
  .calculator-flex{
    gap: 0;
  }
  .calc__tab{
    min-width: min(400px, 80vw);
  }
  .next-hab-btn{
    right: 40px;
  }

}

@media (min-width: 2000px) {
  .hero__bg-img {
    left: 0;
  }
}

/* %%%%%%%%%%%%%%%%%% ANIMATIONS %%%%%%%%%%%%%%%%%%%% */
.nav__list.grow {
  animation: scaleUp 250ms ease-in-out forwards;
}
.nav__list.shrink{
  animation: scaleDown 250ms ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scaleY(0.4);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes scaleDown {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.26);
  }
}

/* %% GALERIA %% */

.all-obras-link a::after,
.all-obras-link a::before{
  animation: linkAtention 1s infinite ease-in;
}


@keyframes linkAtention {
  0%{
    transform:  translateY(-4px) rotate(45deg);
    
  }

  50%{
    
    transform: translateY(-0px) rotate(45deg) ;
  }


  100%{
    transform:  translateY(-4px) rotate(45deg);
    
  }
}


.gallery figure.on div {
  animation: infoIn 1.2s;
}
@keyframes infoIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


@keyframes galleryBgAuto {
  0% {
    background: transparent;
  }

  20% {
    background: transparent;
  }
  50% {
    background: rgba(24,131,187,.5);
  }
  80% {
    background: rgba(24,131,187,.5);
  }
  100% {
    background: transparent;
  }
}


/* %%%%%%%%%%%%%%%% CONTACT %%%%%%%%%%%%%%%%%%%% */

/* Declaracion en media max >1000 contact__item::after */


@keyframes transitionLeftRight {
  0%{
    transform-origin: left;
    transform: scaleX(0);
  }

  15%{
    transform: scaleX(0);
    transform-origin: left;
  }
 
  37%{
    transform: scaleX(1);
    transform-origin: left;
  }

  62%{
    transform: scaleX(1);
    transform-origin: right;
  }
  85%{
    transform: scaleX(0);
    transform-origin: right;
    
  }
  100%{
    
    transform: scaleX(0);
    transform-origin: right;  
  }
}


