:root {
  --main-color: rgb(45, 79, 192);
  --second-color: rgb(187, 133, 17);
  --accent-color: rgb(165, 13, 170);

  --section-padding: clamp(1.5rem, 15vw, 2.5rem);
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
}
/* %%%%%%%%%%%%%%%%%%% NAV %%%%%%%%%%%%%%%%%%%%%%% */

#nav {
  position: fixed;
  z-index: 2;
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  
}
.nav__list{
    list-style-type: none;
    line-height: 4;
    background-color:rgba(3, 3, 3,0.7);
    padding-left: 1em;
    padding-right: 2em;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}



.nav__item {
  position: relative;
  font-size: 20px;
  display: flex;
  align-items: center;
  
}
.nav__link {
  position: absolute;
  transform: tranlateX(100%);
  opacity: 0;
  transition: transform 200ms ease-in, opacity 100ms ease-out 100ms;
  line-height: 1;
  background-color: black;
  border-radius: 15px;
  padding: 10px;
  
}

.nav__item:hover .nav__link,
.current-section {
  opacity: 1;
  transform: translateX(-140%);
}


/* %%%%%%%%%%%%%%%%%%% HERO %%%%%%%%%%%%%%%%%%%%%%% */

#hero{
    position:relative;
    padding: var(--section-padding);
    background-color: var(--main-color);
    
    
}

.hero__bg-img{
    position:absolute;
    bottom:-4px;
    left: -400px;
   
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    
    min-width: 100vw;
    
}

.hero__bg-img img{
   
    object-fit: cover;
}
    
.logo__title{
    display:flex;
    align-items: center;
    margin: 0;
}

.title{
    margin:0;
  font-size: clamp(3.4rem, 16vw, 6rem);

}
.logo__title img {
    width: clamp(50px, 16vw, 100px);
    height: clamp(50px, 16vw, 100px);
  }









@media (max-width: 450px){
    .container{
        width: 95%;
    }


}

@media (min-width: 2000px){
  .hero__bg-img{
    left:0;
  }
}





#obras {
  background: var(--accent-color);
}
#contacto {
  background: var(--main-color);
}
