:root{
  --overlay-color: rgb(255, 255, 255);
}

.logo__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  margin-top: 2em;
  
  position: relative;
  z-index: 4;
}

.title {
  margin: 0;
  min-height: 0.0000001vw; /*Safari workAround */
  font-size: clamp(2.6rem, 16vw, 9rem);
  font-family: var(--title-ff);
}

.logo__title img {
  min-height: 0.0000001vw; /*Safari workAround */
  width: clamp(50px, 16vw, 200px);
  height: clamp(50px, 16vw, 200px);
}


#obras{
    padding: 2rem 5vw;
    background: rgb(63,94,251);
    background: linear-gradient(150deg, rgba(63,94,251,1) 0%, rgba(171,95,224,1) 39%, rgba(201,77,188,1) 68%, rgba(252,70,107,1) 100%);
}


#particles-js{
  position: fixed;
  inset: 0;
  top:0;left:0;bottom:0;right:0;
  background: rgb(63,94,251);
  background: linear-gradient(150deg, rgba(63,94,251,1) 0%, rgba(171,95,224,1) 39%, rgba(201,77,188,1) 68%, rgba(252,70,107,1) 100%);
  z-index: 1;
}

.obras__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-auto-rows: 450px;
    gap: 30px;
    
  }

.obra__box{
  border-radius: 10px;
  position: relative;
  z-index: 3;
  
}
.obra__overlay {
    max-height: 450px;
    height: 100%;
    width: 100%;
  }

.obra__overlay--inner h2{
  margin: .5rem auto;
  line-height: 1.5;

}
.obra__overlay.appear{
  transform: translateY(-0%);
}

.toggle-overlay{
  height:30px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid var(--overlay-color);
  position: absolute;
  z-index: 10;
  display:flex;
  background: rgba(0, 0, 0, 0.397) ;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  backdrop-filter: blur(2px);
  align-items: center;
  justify-content: center;
  top:8px;
  right: 8px;
  transition: border-radius 450ms ease-in-out;
}

.toggle-overlay.square{
  border-radius: 5px;
}

.toggle-overlay:not(.square){
animation: grow-shrink 3.5s linear infinite;
}

.toggle-overlay::after,
.toggle-overlay::before{
  position: absolute;
  transform-origin: center;
  content:"";
  width: 15px;
  height: 3px;
  background: var(--overlay-color);
  transition: transform 450ms ease-out;
}

.toggle-overlay::before{
  transform: rotate(90deg);
}

.toggle-overlay.cross::after{
  transform: rotate(225deg);
}

.toggle-overlay.cross::before{
  border-radius: 5px;
  transform: rotate(315deg);
}

.info-btn{
  background: transparent;
  backdrop-filter: none;
  margin-top: 1.5rem;
  font-family: var(--second-ff);
  color:rgb(245, 24, 134);
  font-weight: 600;
}

.info-btn::after,
.info-btn::before{
  border-color: rgb(245, 24, 134);
}


img[src="/css/images/loader.gif"].gallery__img  {
  position: absolute;
  inset: 0;
  top:0;left:0;right:0;bottom:0;
}



@media (max-width: 500px) {
    .obras__grid {
      grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
      grid-auto-rows: 280px;
    }
  
    .obra__overlay {
      max-height: 280px;
      
    }

    .obra__overlay--inner h2{
      max-width: 20ch;
    }
  
  }

@media (hover:hover){
  .toggle-overlay{
    visibility: hidden;
  }
}