*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --main-ff: "Open Sans", sans-serif;
  --second-ff: 'Montserrat', sans-serif;
  --title-ff: "Black Ops One";

  scroll-behavior: smooth;
}

*:focus,
*:hover {
  outline: none;
}

a:link, a:visited, a:active {
  text-decoration:none;
  color: white;
}
select{
  position:relative;
  z-index:2;
}
.flex{
  display:flex;
}
.flex--centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-viewport {
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  min-height: 500px;
}

.container {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
}

.display-none{
  display:none;
}

/* %%%%%%%%%%%%% LOGO-TITLE %%%%%%%%%%%%%%%%%%% */
.logo__title {
  text-align: center;
  margin-top: 1.5rem;
}
.logo__title img {
  width: clamp(60px, 16vw, 90px);
  height: clamp(60px, 16vw, 90px);
}

.title {
  max-width: fit-content;
  margin: 0 auto;
  font-family: var(--title-ff);
  font-weight: 600;
  font-size: clamp(3rem, 15vw, 5.6rem);
  position: relative;
}


/* %%%%%%%%%%%%%%%%%%% HEADER %%%%%%%%%%%%%%%%%%%%%%% */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(7px);
  border-radius: 5px;
  padding: 0.5em 3vw;
  transition: top 0.4s ease-in-out;
}



.header__contact {
  display: flex;
  align-items: center;
  font-family: var(--second-ff);
  font-size: .9em;
  gap: 4px;
}

.header .title {
  font-size: 1.4rem;
}


.telefono a{
  color: black;
}


/* %%%%%%%%%%% OBRAS GRID %%%%%%%%%% */

.grid--obras {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 400px;
  gap: 10px;
}

.obra__box {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1;
  grid-template-rows: 1;
  box-shadow: 6px 6px 12px 4px rgba(0,0,0,0.29);
}

.obra__box img {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.obra__overlay {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  
  max-height: 400px;
  background: rgba(77, 77, 77, 0.25);
  backdrop-filter: blur(4px);
  font-size: clamp(.8rem, 4vw, 1.3rem);
  font-family: var(--second-ff);

  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  transition: transform 300ms ease-in-out;
  transform: translateY(100%);
}


.obra__overlay--inner h2 {
  font-size: 1.1em;
}


.obra__overlay--inner {
  width: 90%;
  text-align: center;
  justify-self: center;
  color: whitesmoke;
}


.btn--animated{
  padding: .3em .4em;
  cursor: pointer;
  height: auto;
  position: relative;
  background: rgba(253, 253, 253, 0);
  backdrop-filter: blur(1px);
  font-size: clamp(1rem, 5vw, 1.5rem);
  color: rgb(0, 0, 0);
  border:none;
}

.btn--animated:before,
.btn--animated:after {
  content: "";
  display: block;
  position: absolute;
  border-color: black;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: width 400ms ease-in-out, height 400ms ease-in-out;
}

.btn--animated:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}

.btn--animated:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

.btn--animated:hover:before,
.btn--animated:hover:after,
.btn--animated:focus:before,
.btn--animated:focus:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
}



/* %%%%%% OBRA INFO %%%%%%% */

.obra-info{
  font-family: var(--main-ff);
  position: relative;
  transform: scale(0);
  opacity: 0;
  transition: opacity 300ms ease-in, transform 400ms ease-in-out;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.699);
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .obra-info.open{
   position: fixed;
   transform: scale(1);
   opacity: 1;
   z-index: 20;
 }
 
 
 .obra-info--inner{
   font-size: clamp(.9rem, 4vw, 1.6rem);
   text-align: center;
   position: relative;
   background: rgba(255, 255, 255, 0.281);
   padding: 2rem;
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(3.8px);
   display: grid;
   gap: 2rem;
   justify-items: center;
   grid-template-columns: 1fr;
   grid-template-rows: 55vh 1fr ;
   color: white;
   max-height: 90vh;
   max-width: 900px;
   width: 100%;
 }
 
 .obra-info__img{
   max-height: 55vh;
   width: 100%;
   grid-row: 1fr;
   border-radius: 16px;
   overflow: hidden;
  
 }
 .obra-info--inner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
 
 .obra-info--inner p{
   margin-top: 1rem;
   font-size: .93em;
 }
 
 .contenido-scroll{
   max-width: 75%;
   overflow-y: auto;
   scrollbar-color: white grey;
   scrollbar-width: thin;
 }
 
 .contenido-scroll::-webkit-scrollbar,
 .contenido-scroll::-webkit-scrollbar-thumb {
   width: 26px;
   border-radius: 13px;
   background-clip: padding-box;
   border: 10px solid transparent;
 }
 
 .contenido-scroll::-webkit-scrollbar-thumb {        
   box-shadow: inset 0 0 0 10px;
 }
 
 .obra-info--close{
   border: none;
   background: transparent;
   position: absolute;
   z-index: 5;
   color: black;
   font-size: 1.5rem;
   top: 4px;
   right: 4px;
   cursor: pointer;
 }
 
 .obra-info__date{
   position: absolute;
   top: 4px;
   color: white;
   font-size: 1.2rem;
 }

@media (hover:none){
  .btn--animated::after,
  .btn--animated::before {
    animation: galleryBtnAuto 8s infinite ease-in-out;
  }
} 
@media (max-width: 450px) {
  .grid--obras {
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    grid-auto-rows: 245px;
  }

  .obra__overlay {
    max-height: 245px;
  }

  .container{
    width: 95%;
  }
  .obra__overlay h2{
    max-width: 20ch !important;
  }

  /* %%%%% GALERIA %%%% */
  .obra-info--inner{
    padding: 2rem 1rem; 
    width: 95% !important;
    grid-template-rows: 47vh 1fr;
  }

  .obra-info__img{
    grid-row: 1fr;
  }
}

@media (max-width:1000px){
  /* %%%%% GALERRY OVERLAY %%%% */
  .obra-info--inner{
    text-align: left;
    width: 80%;
  }
  .obra-info--inner .contenido-scroll{
    max-width:100%;
    text-align: left;
  }

  .obra-info__img{
    width: auto;
  }
}

/* %%%%%%%% ANIMATIONS %%%%%%%% */

@keyframes galleryBtnAuto {
  0% {
    width: 1em;
    height: 1em;
  }

  20% {
    width: 1em;
    height: 1em;
  }
  45% {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
  }
  85% {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
  }
  100% {
    width: 1em;
    height: 1em;
  }
}
