*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --main-ff: "Open Sans", sans-serif;
  --second-ff: 'Montserrat', sans-serif;
  --title-ff: "Black Ops One";

  scroll-behavior: smooth;
}

*:focus,
*:hover {
  outline: none;
}

a:link, a:visited, a:active {
  text-decoration:none;
  color: white;
}
select{
  position:relative;
  z-index:2;
}
.flex{
  display:flex;
}
.flex--centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-viewport {
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  min-height: 500px;
}

.container {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
}

.display-none{
  display:none;
}

/* %%%%%%%%%%%%% LOGO-TITLE %%%%%%%%%%%%%%%%%%% */
.logo__title {
  text-align: center;
  margin-top: 1.5rem;
}
.logo__title img {
  width: clamp(60px, 16vw, 90px);
  height: clamp(60px, 16vw, 90px);
}

.title {
  max-width: fit-content;
  margin: 0 auto;
  font-family: var(--title-ff);
  font-weight: 600;
  font-size: clamp(3rem, 15vw, 5.6rem);
  position: relative;
}


/* %%%%%%%%%%%%%%%%%%% HEADER %%%%%%%%%%%%%%%%%%%%%%% */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(7px);
  border-radius: 5px;
  padding: 0.5em 3vw;
  transition: top 0.4s ease-in-out;
}



.header__contact {
  display: flex;
  align-items: center;
  font-family: var(--second-ff);
  font-size: .9em;
  gap: 4px;
}

.header .title {
  font-size: 1.4rem;
}


.telefono a{
  color: black;
}


/* %%%%%%%%%%% OBRAS GRID %%%%%%%%%% */

.grid--obras {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 400px;
  gap: 10px;
}

.obra__box {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1;
  grid-template-rows: 1;
  box-shadow: 6px 6px 12px 4px rgba(0,0,0,0.29);
}

.obra__box img {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.obra__overlay {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  
  max-height: 400px;
  background: rgba(77, 77, 77, 0.25);
  backdrop-filter: blur(4px);
  font-size: clamp(.8rem, 4vw, 1.3rem);
  font-family: var(--second-ff);

  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  transition: transform 300ms ease-in-out;
  transform: translateY(100%);
}


.obra__overlay--inner h2 {
  font-size: 1.1em;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;
}


.obra__overlay--inner {
  width: 90%;
  text-align: center;
  justify-self: center;
  color: whitesmoke;
}

.obra__box:hover .obra__overlay {
  transform: translateY(-0%);
}

@media (max-width: 450px) {
  .grid--obras {
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    grid-auto-rows: 245px;
  }

  .obra__overlay {
    max-height: 245px;
  }

  .container{
    width: 95%;
  }
  .obra__overlay h2{
    max-width: 20ch !important;
  }
}